* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mainwrap {
  width: 540px;
  height: 960px;
  border: 1px solid #aacdff;
  box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
  border-radius: 20px;
  padding: 60px 82px 53px 78px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;

  color: #0068ff;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info input {
  width: 380px;
  height: 60px;
  border: 1px solid #0068ff;
  border-radius: 7px;
  padding: 14px 18px;
}

.info input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #797979;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.phone_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.phone_info input {
  width: 100px;
  height: 40px;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
  padding: 14px 18px;
}
.phone_info input:focus {
  outline: none;
}
.number_group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.numbers {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
#send_number {
  width: 120px;
  height: 40px;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
  color: #0068ff;
  background: #ffffff;
  cursor: pointer;
}
#send_number:disabled {
  color: #d2d2d2;
  cursor: default;
}
#stoptimer {
  width: 120px;
  height: 40px;
  border-radius: 7px;
  background: #0068ff;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;
}
#stoptimer:disabled {
  color: #d2d2d2;
  background-color: white;
  outline: none;
  border: 1px solid #d2d2d2;
  cursor: default;
}
.select_group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.select-loc {
  width: 100%;
  height: 60px;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
  padding: 14px 18px;
  color: #797979;
}
.gender_radio_gruop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.gender-wrap {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.gender-radio {
  cursor: pointer;
}
.signup_button_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
}
.signup_button_wrap button {
  width: 100%;
  height: 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  cursor: pointer;
  text-align: center;
}
.signup_button_wrap button:disabled {
  cursor: default;
}
#timer {
  color: #0068ff;
}
#random_number {
  color: #0068ff;
}
