* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.wrap {
  width: 100%;
  height: 100%;
  padding: 20px;

  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrap_header {
  width: 100%;
}

.header_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(203, 248, 233);
  padding: 0px 12px 5px 12px;
}
.title {
  color: #55b2e4;
  font-weight: 700;
  font-size: 13px;
  padding-right: 8px;
}
.subtitle {
  font-size: 8px;
}
.game_container {
  width: 14em;
  height: 11em;
  border: 1px solid rgb(203, 248, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;
  gap: 5px; */
  justify-content: space-between;
  padding: 20px;
  gap: 0.3em;
  background-color: #f6f6f6;
}
.game_title {
  font-size: 15px;
  font-weight: 900;
}

.game_subtitle {
  font-size: 11px;
  color: rgb(212, 206, 206);
}
.word_result {
  font-size: 11px;
  font-weight: 700;
}

.word_text {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}

.word_input {
  width: 130px;
  height: 24px;
  padding: 0.3em;
}
.word_input::-webkit-input-placeholder {
  color: rgb(212, 206, 206);
}
.word_input:-ms-input-placeholder {
  color: rgb(212, 206, 206);
}

.next {
  font-size: 0.2em;
  font-weight: 700;
  padding: 0.5em;
  width: 9em;
  height: 7.5em;
  cursor: pointer;
}
.lotto_picker {
  width: 85px;
  height: 24px;
  font-size: 11px;
  font-weight: 700;
  border: 1px solid black;
  outline: none;
  background: #ffffff;
  cursor: pointer;
}
.lotto_number {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  font-weight: 700;
  width: 100%;
  height: 95px;
  text-align: center;
  padding: 5px;
}
.number {
  display: flex;
  flex-direction: row;
  height: 45px;
}
.ball {
  /* span으로 만들것. */
  border: 1px solid rgb(212, 206, 206);
  border-radius: 22px;
  width: 2.2em;
  height: 2.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5px;
  padding-left: 1px;
}
.bonus {
  position: absolute;
  top: 3em;
  left: 6em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
}
